<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义mapper的命名空间 -->
<mapper namespace="com.rjs.smartcommunity.mapper.ActivitySignMapper">

  <!-- 定义基础列名的SQL片段，供其他SQL语句复用 -->
  <sql id="Base_Column_List">
      id,
      activity_id,
      phone,
      date,
      user_id,
      status,
      reason
  </sql>

  <!-- 查询所有活动签名信息 -->
  <select id="selectAll" resultType="com.rjs.smartcommunity.entity.ActivitySign">
    select
    activity_sign.*,user.name as userName,activity.name as activityName
    from activity_sign
    left join user
    on activity_sign.user_id = user.id
    left join activity
    on activity_sign.activity_id = activity.id
    <!-- 动态构建where子句，根据传递的参数条件过滤结果 -->
    <where>
      <if test="userId != null">and activity_sign.user_id = #{userId}</if>
      <if test="userName != null">and user.name like concat('%', #{userName}, '%')</if>
    </where>
    order by activity_sign.id desc
  </select>

  <!-- 根据ID查询活动签名信息 -->
  <select id="selectById" resultType="com.rjs.smartcommunity.entity.ActivitySign">
    select
    <include refid="Base_Column_List"/>
    from activity_sign
    where id = #{id}
  </select>

  <!-- 根据ID删除活动签名信息 -->
  <delete id="deleteById">
    delete from activity_sign
    where id = #{id}
  </delete>

  <!-- 插入新的活动签名信息 -->
  <insert id="insert" parameterType="com.rjs.smartcommunity.entity.ActivitySign"
    useGeneratedKeys="true" keyProperty="id">
    insert into activity_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="activityId != null">activity_id,</if>
      <if test="phone != null">phone,</if>
      <if test="date != null">date,</if>
      <if test="userId != null">user_id,</if>
      <if test="status != null">status,</if>
      <if test="reason != null">reason,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id},</if>
      <if test="activityId != null">#{activityId},</if>
      <if test="phone != null">#{phone},</if>
      <if test="date != null">#{date},</if>
      <if test="userId != null">#{userId},</if>
      <if test="status != null">#{status},</if>
      <if test="reason != null">#{reason},</if>
    </trim>
  </insert>

  <!-- 根据ID更新活动签名信息 -->
  <update id="updateById" parameterType="com.rjs.smartcommunity.entity.ActivitySign">
    update activity_sign
    <set>
      <if test="activityId != null">
        activity_id = #{activityId},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="date != null">
        date = #{date},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="reason != null">
        reason = #{reason},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="selectByActivityIdAndUserId"
    resultType="com.rjs.smartcommunity.entity.ActivitySign">
    select *
    from activity_sign
    where activity_id = #{activityId} and user_id = #{userId} and status != '审核拒绝'
  </select>

</mapper>
