.front-notice {
  padding: 5px 20px;
  color: #666;
  font-size: 12px
}

.front-header {
  margin: 0 auto;
  display: flex;
  height: 60px;
  line-height: 60px;
  background-color: #578bba;
}

.front-header-left {
  width: 350px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.front-header-left img, .front-header-dropdown img {
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.front-header-left .title {
  flex: 1;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.front-header-center {
  flex: 1;
}

.front-header-right {
  width: 200px;
  padding-right: 20px;
  text-align: right;
}

.front-header-dropdown {
  display: flex;
  align-items: center;
  color: white;
  justify-content: right;
  cursor: pointer;
}

.el-dropdown-menu {
  text-align: center !important;
}

/*页面具体样式自定义*/
.el-menu {
  background-color: #578bba;
}

.el-menu-item {
  color: #333 !important;
}

.el-menu-item.is-active {
  background-color: #1d7bc9 !important;
  color: white !important;
}

.el-menu-item:not(.is-active):hover {
  background-color: #578bba !important;
  color: white !important;
}

.main-content {
  width: 70%;
  margin: 10px auto;
}

/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
  border: none !important;
  height: 59px;
}