<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 公告数据操作映射文件 -->
<mapper namespace="com.rjs.smartcommunity.mapper.NoticeMapper">

  <!-- 根据ID删除公告信息 -->
  <delete id="deleteById">
    delete from notice
    where id = #{id}
  </delete>

  <!-- 插入公告信息 -->
  <insert id="insert" parameterType="com.rjs.smartcommunity.entity.Notice" useGeneratedKeys="true">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="title != null">title,</if>
      <if test="content != null">content,</if>
      <if test="time != null">time,</if>
      <if test="user != null">user,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id},</if>
      <if test="title != null">#{title},</if>
      <if test="content != null">#{content},</if>
      <if test="time != null">#{time},</if>
      <if test="user != null">#{user},</if>
    </trim>
  </insert>

  <!-- 查询所有公告信息（可能带条件） -->
  <select id="selectAll" resultType="com.rjs.smartcommunity.entity.Notice">
    select
    <include refid="Base_Column_List"/>
    from notice
    <where>
      <if test="id != null">and id= #{id}</if>
      <if test="title != null">and title like concat('%', #{title}, '%')</if>
      <if test="content != null">and content= #{content}</if>
      <if test="time != null">and time= #{time}</if>
      <if test="user != null">and user= #{user}</if>
    </where>
    order by id desc
  </select>

  <!-- 根据ID查询公告信息 -->
  <select id="selectById" resultType="com.rjs.smartcommunity.entity.Notice">
    select
    <include refid="Base_Column_List"/>
    from notice
    where id = #{id}
  </select>

  <!-- 定义基础列列表，供其他SQL语句引用 -->
  <sql id="Base_Column_List">
      id,
      title,
      content,
      time,
      user
  </sql>

  <!-- 根据ID更新公告信息 -->
  <update id="updateById" parameterType="com.rjs.smartcommunity.entity.Notice">
    update notice
    <set>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
      <if test="time != null">
        time = #{time},
      </if>
      <if test="user != null">
        user = #{user},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>
